.container {
    display: block;
    text-align: center;
}
.title {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}
.cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 8rem;
}