.container_card_category {
    
    text-align: center;
    /* flex: 1 25% ; */
}
.container_card_category :hover {
    transform: scale(1.1);
}
.promotion p {
    text-align: center;
    color: white;
   
}
.container_card_category a {
    text-decoration:none ;
    color: black;
}
.container_card_produits a {
    text-decoration:none ;
    color: black;
}

