.container_card {
    
    text-align: center;
    /* flex: 1 25% ; */
}
.container_card :hover {
    transform: scale(1.1);
}
.promotion p {
    text-align: center;
    color: white;
   
}
.container_card a {
    text-decoration:none ;
    color: black;
}
.container_card_promo a {
    text-decoration:none ;
    color: black;
}

